@media(min-width:685px) {
    h1 {
        margin-left: 74px;
        font-size: 24px;
    }

    .container {
        display: flex;

    }

    h2 {
        margin-left: 50px;
        font-size: 34px;
        margin-right: 420px;
    }

    p {
        font-size: 22px;
        margin-left: 50px;
        margin-right: 180px;
    }

    .h1 {
        font-size: 28px;
    }

    .img {
        height: 320px;
    }

    .img1 {
        height: 430px;
    }

    .h2 {
        margin-left: 50px;
        font-size: 34px;
        margin-right: 350px;

    }
}